# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Build / bundler
dist/
build/
.vite/
.out/

# Environment
.env
.env.*.local

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Cache
.cache/

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
public/*.local

# Ignore node_modules anywhere in subfolders as well
**/node_modules/
